body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(255, 138, 127);
}.container{
    margin: 0;
    padding: 0;
    
}
#heading{
    font-family: sans-serif;
    padding-bottom: 20px;
}
.box{
    height: auto;
    width: 350px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: bisque;
}
#color{
    height: 250px;
    width: 90%;
    border: 2px solid black;
    margin: auto;
    margin-top: 20px;
    border-radius: 20px;
}
#displaycode{
    height: 45px;
    width: 90%;
    background-color: black;
    margin: auto;
    margin-top: 12px;
    margin-bottom: 12px;
    border-radius: 10px;
    font-size: 30px;
    color: white;
    text-align: center;
    padding-top: 10px;

}
button{
    height: 30px;
    width: 40%;
    background-color: rgb(37, 78, 225);
    color: white;
    text-align: center;
    margin-left: 30%;
    margin-bottom: 15px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    
    
}